body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
    display: inline-block;
    width: 45%;
    vertical-align: top;   
    overflow: visible;
    text-align: center;
    padding: 0;
}

.main
{
    width: 100%;
    
}

.field p{
    vertical-align: middle;
    font-size: large;
    margin-left: 10%;
    width: 80%;
}
.field
{
    
    padding-top: 50px;
    text-align: center;
    height: 150px;
    vertical-align: middle;
    border-width: 4px;
    border-radius: 10px;
    border-style: solid;
    border-color:cornflowerblue;
    
}

select, input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d6e1f7;
    text-align: center;
    width:40%;
    padding: 0;
    font-size: large;
    border-width: 2px;
    border-radius: 5px;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%;
    height: 50px;
    padding: 0;
    font-size: large;
    font-weight:bold;
    color: aliceblue;
    text-shadow: 1px 1px 1px #b1b1b1;
    border-width: 2px;
    border-radius: 8px;
    border: none;
    border-color: rgb(63, 97, 159);
    background-color: cornflowerblue;
}

@media (max-width: 480px)
{
    div{
        width: 100%;
        
    }
}